<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NetFlix</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="trending">
                <span class="oi oi-monitor" aria-hidden="true"></span> Trending
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="playing">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Playing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rated">
                <span class="oi oi-random" aria-hidden="true"></span>Most Rated
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
